## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

## JetBrains Rider
.idea/
*.sln.iml

## Visual Studio
*.rsuser
*.tmp_proj
*_wpftmp.csproj
*.pidb
*.polydev
*.aps
*.pch
*.vspscc
*.vssscc

## Publish
**/publish/
**/PublishScripts/

## Secrets & config overrides
appsettings.*.json
!appsettings.json
*.pfx
*.p12
secrets.json
